* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#page-wrapper {
  position: relative;
}
header {
  position: fixed;
  top: 0;
  min-height: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  display: block;
}
nav {
  display: block;
  font-weight: 400;
}
nav > ul {
  width: 35vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
ul {
  display: block;
  list-style-type: disc;
}
li {
  display: list-item;
  list-style: none;
}
.logo {
  width: 60vw;
}
.logo > img {
  width: 100%;
  height: 100%;
  max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 20px;
}
#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 200px;
  margin-top: 50px;
}
#hero > h2 {
  margin-bottom: 20px;
  word-wrap: break-word;
}
form {
  display: block;
  margin-top: 0em;
}
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
div {
  display: block;
}
#how-it-works {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}
iframe {
  border-width: 2px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}
@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }
}
#pricing {
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#features .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  width: 80vw;
  padding: 5px;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(100% / 3);
  margin: 10px;
  border: 1px solid #000;
  border-radius: 3px;
}
footer {
  margin-top: 30px;
  padding: 20px;
}
footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
footer > ul {
  display: flex;
  justify-content: flex-end;
}
footer > ul > li {
  padding: 0 10px;
}
